<!doctype html>
<html lang="en">

<head>
    <title>Đăng Nhập</title>
    <link rel="icon" type="image/x-icon" href="https://www.iconpacks.net/icons/2/free-reddit-logo-icon-2436-thumb.png">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/styles.css" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div style="height: 650px; background-color: #f3f3f3;">
        <div class="" style="padding: 50px;">
            <div class="" style="font-size: 20px;text-align: center;color: black; box-shadow: 1;">
            </div>
            <img src="https://www.iconpacks.net/icons/2/free-reddit-logo-icon-2436-thumb.png"
                style="width: 150px;margin-left: 520px;">

            <div class=""
                style="height: 320px; width: 400px; background-color: white; margin-left: 400px; border-radius: 10px;">
                <a style="font-size: 30px;margin-left: 120px; font-weight: bold; color: darkorange;">Đăng Nhập</a>
                <form name="fReg" action="/loginProcess" method="POST">
                    <div class="row">
                        <!-- ==== -->
                        <div class="form-group col-sm-11" style="margin: 10px;margin-left: 20px;">
                            <label for="email">
                                Email</label>
                            <input type="email" class="form-control" placeholder="Email" id="email" name="email"
                                required="">
                        </div>
                    </div>

                    <div class="row">
                        <!-- ==== -->
                        <div class="form-group col-sm-11" style="margin: 10px;margin-left: 20px;">
                            <label for="pwd">Mật Khẩu</label>
                            <input type="password" class="form-control" placeholder="Mật Khẩu" id="pwd" name="pwd"
                                required="">
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="form-check">
                                <label class=" form-check-label" style="margin-left: 35px;">
                                    <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue">
                                    <a style="padding-left: 5px;">Ghi nhớ mật khẩu</a>
                                </label>
                            </div>
                            <a href="dangki" style="padding-left: 40px;">Đăng Kí Tài Khoản</a>
                        </div>
                        <div style="margin-top: 10px;margin-left: 140px;">
                            <!-- <button type="submit" class="btn btn-primary">Đăng Nhập</button> -->
                            <button type="submit" class="btn btn-primary">Đăng Nhập</button>
                            <!-- <button type="#" class="btn btn-primary">Đăng Ký</button> -->
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <script type="text/javascript" src="/scripts.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>