<div class="shadow-lg p-3 mb-5 container bg-white rounded border" style="margin-top: 40px;">


    <h1>Liên Hệ</h1>
    <div style="margin-top: 10px; margin-left: 150px;">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8025459042856!2d108.16776031483715!3d16.075732988876904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218e6e07b1c3f%3A0x459e4bf5a2af323e!2zQ2FvIMSR4bqzbmcgRlBUIFBvbHl0ZWNobmljIMSQw6AgTuG6tW5n!5e0!3m2!1sen!2s!4v1648451170514!5m2!1sen!2s"
            width="650" height="350" style="border:0;margin-left: 50px;margin-block-end: 20px;border-radius: 5px;"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <p><span class="glyphicon glyphicon-map-marker	
"></span> Địa Chỉ: 137 Nguyễn Thị Thập, Thanh Khê Tây, Liên Chiểu, Đà Nẵng
        550000, Vietnam</p>
    <p><span class="glyphicon glyphicon-earphone"></span> Số Điện Thoại:0396518204</p>
    <p><span class="glyphicon glyphicon-envelope	
"></span> Email:ducnxpd04647@fpt.edu.vn</p>

</div>