<!doctype html>
<html lang="en">

<head>

  <title>{{Title}}</title>
  <link rel="icon" type="image/x-icon" href="https://www.iconpacks.net/icons/2/free-reddit-logo-icon-2436-thumb.png">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  <script type="text/javascript">

    function setlCategory() {
      alert("how are you");
    }
  </script>
</head>

<body>
  <div style=" background-color:  #f3f3f3;">
    <header style="height: 100px; background-color: yellow;">
      <div class="row" style="width: 1200px;">
        <img src="https://www.iconpacks.net/icons/2/free-reddit-logo-icon-2436-thumb.png" alt="" width="80px"
          height="80px" style="margin-top: 15px;margin-left: 50px;">
        <a style="font-size: 80px; font-family: 'Times New Roman', Times, serif;">THẾ GIỚI DI ĐÔNG</a>
        <div style="width: 250px;height: 50px;border-radius: 20px; margin-top:40px;margin-left: 40px;">

    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/list-product"><span class="glyphicon glyphicon-home"></span>
              Sản Phẩm<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add-product"><span class="glyphicon glyphicon-plus"></span>
              Thêm Sản Phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lienhe"><span class="glyphicon glyphicon-earphone"></span>
              Liên Hệ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-out"></span>
              Đăng Xuất</a>
          </li>
        </ul>

      </div>
    </nav>
    <div class="row" style="width: 1200px; padding-left:120px;">
      {{{body}}}
      {{!-- {{{body}}} --}}

    </div>

    <form
      style="height: 50px; background-color: white; text-align: center; padding-top: 5px; font-size: 30px; font-weight: bold;">
      Thế Giới
      Di Động</form>

    <!-- Optional JavaScript -->
    <script type="text/javascript" src="/scripts.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </div>
</body>

</html>